<h1>Login</h1>

<form id="signin-form" action="/api/v1/users/login" method="POST">

  <div class="form-item">
    <label for="username">Username</label>
    <input type="text" id="username" name="username">
  </div>

  <div class="form-item">
    <label for="password">Password</label>
    <input type="password" id="password" name="password">
  </div>

  <div class="form-item">
    <button type="submit" id="submit_button" name="submit_button">Login</button>
  </div>

  <div class="links">
    <a href="/register">Click here to signup!</a>
  </div>
</form>

<script src="https://code.jquery.com/jquery-3.5.1.js"
        integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
<script src="/js/login.clientside.js"></script>
</script>
