<h1>Login</h1>

<form id="signin-form" action="/api/v1/users/login" method="POST">

  <div class="form-item">
    <label for="username">Username</label>
    <input type="text" id="username" name="username">
  </div>

  <div class="form-item">
    <label for="password">Password</label>
    <input type="password" id="password" name="password">
  </div>

  <div class="form-item">
    <button type="submit" id="submit_button" name="submit_button">Login</button>
  </div>

  <div class="links">
    <a href="/register">Click here to signup!</a>
  </div>
</form>
